body {
    padding: 50px 0 0 40px;
    background-color: #1c1c1c;
}

h1 {
    margin-bottom: 40px;
}

h1, h2, label {
    color: whitesmoke;
}

.form-control {
    background: whitesmoke;
}

.btn {
    margin-top: 24px;
    width: 100%;
}